body {
    background-color: #fbf9f8;
    display: flex;
    justify-content: center;
}
.main_pagina-principal_producto {
    border-radius: 15px;
    border: none;
    width: 500px;
    background-color: white;
    padding-bottom: 5px;
    position: relative; /*A la parte que contendrá el elemento que quiero posicionar*/
    cursor: pointer; /* Cambia el cursor cada vez que se posiciona dentro de la caja*/
}

.main_pagina-principal_producto:hover .producto-vistarapida {
    opacity: 1;
}

.producto-favorito {
    display: flex;
    justify-content: right;
    margin-top: 5px;

    a {
        margin-top: 15px;
        margin-right: 15px;
    }
    
}

.producto-cuotas-1 {
    background-color: dodgerblue;
    border-radius: 15px;
    width: 100px;
    padding: 5px;
    position: absolute; /*A la caja que quiero posicionar dentro de la caja padre*/
    left: 20px;
    top: 30px;
    

    div {
        color: white;
        font-weight: 900;
    }

    .producto-cuotas-txt1 {
        margin-bottom: -10px;
        padding-left: 3px;
        font-size: 0.65em;
    }

    .producto-cuotas-2 {
        display: flex;

        .producto-cuotas-txt2 {
            font-size: 2.1em;

        }
    }

    .producto-cuotas-3 {
        margin-left: 3px;
        align-items: center;
        padding-top: 5px;
    }

    .producto-cuotas-txt3 {
        font-size: 0.9em;
    }

    .producto-cuotas-txt4 {
        font-size: 0.9em;
        margin-top: -5px;
    }

    
}
.producto-img {
    display: flex;
    justify-content: center;
    img {
        height: 400px;
    }
}
.producto-hover {
    display: flex;
    justify-content: center;
    a {
        text-decoration: none;
    }
}
.main_pagina-principal_producto-info {

    margin: 15px;
    border-top: solid 1px black;
    padding-top: 20px;
    font-family: "DM Sans", sans-serif;;
}
.info-producto-section {
    margin-bottom: 10px;
    height: 100px;

    div {
        padding: 5px;
    }
}

.producto-vistarapida {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: rgb(178, 197, 202);
    width: 150px;
    font-family: "DM Sans", sans-serif;
    color: black;
    opacity: 0;

    
    img {
        height: 30px;
    }

}
.producto-especificaciones {
    margin-bottom: 20px;
}
.producto-marca {
    font-weight: 900;
}
.producto-valor {
    display: flex;
    align-items: center;
}

.producto-descuento {
    display: flex;
    justify-content: left;
    background-color: dodgerblue;
    width: 50px;
    border-radius: 10px;
    padding-right: 10px;
    color: white;
    font-weight: 900;
    font-size: 1.2em;

    
}

.producto-precioanterior {
    text-decoration: line-through;
}

.producto-precioactual {
    font-weight: 900;
    font-size: 1.5em;
}

.producto-agregarcarrito {
    display: flex;
    justify-content: center;
    button {
        background-color: rgb(255, 196, 0);
        border: none;
        border-radius: 15px;
        width: 450px;
        height: 50px;
        font-size: 1.1em;
        font-weight: 800;
        font-family: "DM Sans", sans-serif;
    }
}