header {
    .sección1 {
        display: flex;
        justify-content: center;
        background-color: black;
    
        div p {
            color: white;
            font-weight: 500;
        }
    }
    
    .sección2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #d6d6d6;
        padding-left: 30px;
        padding-right: 30px;
    
        li {
            border-right: 1px solid black;
            padding-right: 12px;
    
            a {
                font-size: 0.8em;
                font-weight: 500;
            }
    
    
        }
    
    }
    
    .sección3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-weight: 600;
    }
    
    .list {
        list-style: none;
        display: flex;
        gap: 15px;
    
        a {
            text-decoration: none;
            color: black;
        }
    
    
    }
    
    .barsearch {
        display: flex;
        align-items: center;
        position: relative;
    }
    .barsearch::before {
        content: '';
        position: absolute;
        background-image: url(assets/Searcher.png);
        width: 30px;
        height: 30px;
        background-size: cover;
        top: 7.5px;
        left: 10px;
    }
    
    .bar {
        border-radius: 30px;
        background-color: #d6d6d6;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
    }

    .cart {
        margin-left: 10px;
    }


}
main {
    .barra-superior {
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        
        .filtros {
            display: flex;

            .parametros {
                display: flex;
                align-items: center;
                padding: 10px;

                .filters-icon {
                    margin-left: 10px;
                }

                .order-icon {
                    margin-top: 8px;
                }
            }
            
        }

    }

    .productos {
        background-color: white;

        
        .fila {
            display: flex;
            justify-content: space-evenly;
        }

        .producto {
            width: 575px;
            margin-bottom: 20px;

            img {
                width: 100%;
            }

            .new {
                color: brown;
                font-weight: 500;
                font-size: 1.2em;
            }

            .bold {
                font-weight: 700;
                margin-bottom: 5px;
                font-size: 1.1em;
            }

            .light {
                margin-top: 5px;
                font-size: 1.1em;
            }
        }
        

    
    }

    
}

footer {
    background-color: black;

    .footer {
        display: flex;
        
    }
    
    .superior {
        display: flex;
        justify-content: center;
    }

    .listas {
        display: flex;
        margin: 30px;
    }

    .títulos {
        color: #ffffff;
    }

    .texto {
        color: grey;
    }

    .negrita {
        color: #ffffff;
        font-weight: 800;
    }

    .subrayado {
        color: grey;
        text-decoration: underline;
    }

    li {
        line-height: 2.5;
    }

    a {
        text-decoration: none;

    }

    ul {
        list-style: none;
    }

    .imagen {
        margin: 55px;
    }

    .datafiscal {
        height: 40px;
    }

    .iconos {
        padding: 20px;
        margin-top: 20px;
    }

    .redes {
        display: flex;
        gap: 5px;
    }

    .icon {
        height: 35px;
    }

    .infoadicional {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        border-top: solid #d6d6d6 0.1em;
    }

    .ubicación {
        color: #ffffff;
        font-size: 0.8em;

    }

    .copyright {
        color: grey;
        font-size: 0.8em;
    }

    .locación {
        display: flex;
    }

    .info {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .icono-lugar {
        height: 20px;
    }

    .herramientas {
        display: flex;
        gap: 15px;
    }

}

